body {
	background:#869dc7;
}

#body_wrapper {
	width:85%;
	margin:0 auto;
	background:#b3c7e6;
	border:3px solid #000000;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

header, nav, footer {
	display:block;
}

header {
	background: #b3c7e6;
	height:140px;
	
}

h1 {
	font-family:"Impact", sans-serif;
}

.tagline {
	float:left;
	display:inline;
	font-family:"Comic Sans MS";
}

#nav{
	float:right;
}

#nav li {
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
}

#nav li a {
	display:block;
	width:100px;
	background:#0078ae;
	text-decoration:none;
	color:#000000;
	padding:6px;
}

#nav li a.bordered {
	border-right:1px solid #000000;
}

#nav li a:link{
	color:#FFFFFF;
}

footer a:link {
	color:#000000;
}

#nav li a:visited {
	color:#FFFFFF;
}

#nav li a:hover{
	background:rgb(0,0,175);
	color:white;
}

footer a:hover {
	text-decoration:underline;
}

li a:active, footer a:active {
	color:#CDC673;
}

footer {
	background: #869dc7;
}

footer a {
	text-decoration:none;
	color:#000000;
}


#slider_container {
	height:550px;
	background:#efc89e;
	border:3px solid #000000;
	border-left:none;
	border-right:none;
	overflow:hidden;
	position:relative;
}



#photos {
	height:450px;
	width:550px;
	border-right:3px solid #000000;
	border-bottom:3px solid #000000;
}

#img1, #img2, #img3, #img4 {
	height:450px;
	width:550px;
	position:absolute;
}

figcaption {
	position:absolute;
}

.hide {
	display:none;
}

.break {
	clear:both;
}

#column_wrapper {
	width:100%;
}

#column1, #column2, #column3 {
	display:inline;
	float:left;
	width: 30%;
	padding:8px;
}

#column2 {
    border-left:3px solid #000000;
	border-right:3px solid #000000;
	
}

h2 {
	text-align:center;
}

footer div{
	margin-top: 300px;
	word-spacing: 50px;
	text-align:center;
}