body {
	background:#869dc7;
}

#body_wrapper {
	width:85%;
	margin:0 auto;
	background:#b3c7e6;
	border:3px solid #000000;
	border-radius:10px;
}

.head {
	float:right;
	margin-right:5px;
}

header, nav, footer {
	display:block;
}

header {
	background: #b3c7e6;
	height:140px;
	
}

h1 {
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	margin-left:5px;
}

.tagline {
	float:left;
	display:inline;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;	
	margin-left:5px;
}

h2 {
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
}

#nav{
	float:right;
	margin-right:5px;
}

#nav li, #tabs li{
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
}

#nav li a, #tabs li a {
	display:block;
	width:100px;
	background:#0078ae;
	text-decoration:none;
	color:#000000;
	padding:6px;
}

#nav li a.bordered, #tabs li a.bordered{
	border-right:1px solid #000000;
}

#nav li a:link{
	color:#FFFFFF;
}

#nav li a:visited{
	color:#FFFFFF;
}

#nav li a:hover, #tabs li a:hover{
	background:rgb(0,0,175);
	color:white;
}

li a:active, footer a:active {
	color:#CDC673;
}

.photoCon {
	display:inline;
	float:left;
	padding:5px;
	margin:5px;
}

footer {
	background: #869dc7;
}

footer a {
	text-decoration:none;
	color:#000000;
}

footer a:link {
	color:#000000;
}

footer a:hover {
	text-decoration:underline;
}

#slider_container {
	height:550px;
	background:#efc89e;
	border:3px solid #000000;
	border-left:none;
	border-right:none;
	overflow:hidden;
	position:relative;
}

#photos {
	height:450px;
	width:550px;
	border-right:3px solid #000000;
	border-bottom:3px solid #000000;
}

#img1, #img2, #img3, #img4 {
	height:450px;
	width:550px;
	position:absolute;
}

#cap1, #cap2, #cap3, #cap4 {
	position:absolute;
	background-color:gray;
	color:#000000;
	opacity:0.8;
	width:553px;
	margin-top:450px;
	text-align:center;
}

#buttons {
	margin-left:15%;
}

.sliders {
	list-style-type:none;
	margin:0;
	padding:0;
}

.sliders li {
	background-color:grey;
	border: 1px solid black;
	float:left;
	display:block;
	padding:2px;
	margin:2px;
	opacity:0.8;
}

.hide {
	display:none;
}

.break {
	clear:both;
}

#column_wrapper {
	width:100%;
}

#column1, #column2, #column3 {
	display:inline;
	float:left;
	width: 30%;
	padding:8px;
}

#column2 {
    border-left:3px solid #000000;
	border-right:3px solid #000000;
}

h2 {
	text-align:center;
}

table {
	margin: 0 auto;
}

button {
	margin-left: 75%;
}

.con {
	background:#0078ae;
	margin-left:68%;
	margin-right:18%;
	border:2px solid black;
}

.con:hover {
	background:rgb(0,0,175);
}

.checkout {
	text-decoration:none;
	color:white;
}

.clear {
	clear:both;
}

footer div{
	margin-top: 300px;
	word-spacing: 50px;
	text-align:center;
}