	.thumb {
		border: 2px solid black;
		height:340px;
		margin-left:10%;
		margin-top:5%;
	}
	
	.tall {
		border: 2px solid black;
		height:500px;
		margin-left:10%;
		margin-top:5%;
	}
	
	.intro {
		background-color:#fcfdfd;
		padding-bottom:15px;
		border-top: 3px solid #000000;
	}
	
	.intro h2 {
		font-family:Arial, Verdana sans-serif;
	}
	
	.intro_p {
		font-family:Arial, Verdana sans-serif;
		font-size:1.1em;
	}
	
	hr {
		margin-top:60px;
	}
	.clear {
		clear:both;
	}
	
	.selected {
		display:block;
	}
	